@charset "utf-8";
/* CSS Document */
body {
	margin-top:25px;
    overflow:hidden;
    background-image:url("md.png");

}
@-webkit-keyframes spin2 {
    0%  {-webkit-transform: rotate(0deg);left:0cm;top:0cm;}
    100% {-webkit-transform: rotate(360deg);left:20cm;top:20cm;}   
}
#md{
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;
}
#volvo1 {
        visibility: hidden;
    position: absolute;
   bottom: 50px;
   left:100px;
    width: 100px; 
    height: 100px;    
    -webkit-animation: spin 4s infinite linear;

}
#volvo2 {
        visibility: hidden;
    position: absolute;
   bottom: 50px;
   left:1300px;
    width: 100px; 
    height: 100px;    
    -webkit-animation: spin 4s infinite linear;

}
#volvo3 {
    visibility: hidden;
    postiton:relative;
    left:1300px;
    width: 100px; 
    height: 100px;    
    -webkit-animation: spin 4s infinite linear;
    
}
#volvo4 {
    	visibility: hidden;
    position:relative;
   left:1200px;
    width: 100px; 
    height: 100px;    
    -webkit-animation: spin 4s infinite linear;
    
}
#gabe1 {
    	visibility: hidden;
    position: absolute;
    overflow:hidden;
    bottom:-220px;
    
}
@-webkit-keyframes myfirst5 {
0% {bottom:-220px;}
50% {bottom:0px;}
95% {bottom:0px;}
100% {bottom:-220px;}
}
#gabe {
    	visibility: hidden;
        position: relative;
    -webkit-animation: myfirst 5s infinite;
    
    }
@-webkit-keyframes myfirst {
0% {left:300px}
50% {left: 1000px;}
100% {left: 300px;}
}
#gabe2 {
    	visibility: hidden;
        position: relative;
    -webkit-animation: myfirst 5s infinite;
    
    }
@-webkit-keyframes myfirst {
0% {left:300px}
50% {left: 1000px;}
100% {left: 300px;}
}
#gabe3 {
    	visibility: hidden;
        position: relative;
    -webkit-animation: myfirst3 5s infinite;
    
    }
@-webkit-keyframes myfirst3 {
0% {right:0px}
50% {right: 700px;}
100% {right: 00px;}
}
#gabe4 {
    	visibility: hidden;
        position: relative;
    -webkit-animation: myfirst2 5s infinite;
    
    }
@-webkit-keyframes myfirst2 {
0% {top:0px;left:00px}
50% {top:300px;left: 00px;}
100% {left: 00px;top:0px;}
}
@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}
@-webkit-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-moz-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-ms-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-o-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
.dosh {
	font-weight: bold;
	text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
	font-size: 12px;
	z-index: 100;
	position:absolute;
	top: 30px;
	left: 95px;
}
.dreamhack {
	font-weight: bold;
	text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
	font-size: 12px;
	z-index: 100;
	position:absolute;
	top: 65px;
	left: -20px;
}
#dreamhack {
	opacity: 0;
	display: block;
	width: auto;
	height: auto;
	background-color:purple;
	border: 3px solid black;
	border-radius: 10px;
	padding: 5px;
	z-index: 100;
	position:absolute;
	top:85px;
	left: -50px;
}
.dreamhack:hover + #dreamhack {
  opacity: 0.8;
}
#dosh {
	opacity: 0;
	display: block;
	width: auto;
	height: 50px;
	background-color:purple;
	border: 3px solid black;
	border-radius: 10px;
	padding: 5px;
	z-index: 100;
	position:absolute;
	top:50px;
	left: 120px;
	

}
.dosh:hover + #abc3 {
  opacity: 0.8;
}
.tekst {
	font-weight: bold;
	text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
	font-size: 12px;
	z-index: 100;
	position:absolute;
	top: 45px;
	left: 120px;
}
.tekst:hover + #abc {
  opacity: 0.8;
}

#abc {
	opacity: 0;
	display: block;
	width: auto;
	height: 50px;
	background-color:purple;
	border: 3px solid black;
	border-radius: 10px;
	padding: 5px;
	z-index: 100;
	position:absolute;
	top:70px;
	left: 90px;

}

.tekst2 {
	font-weight: bold;
	text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
	font-size: 12px;
	z-index: 100;
	position:absolute;
	top: 25px;
	left: 130px;
}
.tekst2:hover + #abc2 {
  opacity: 0.8;
}

#abc2 {
	opacity: 0;
	display: block;
	width: auto;
	height: 50px;
	background-color:purple;
	border: 3px solid black;
	border-radius: 10px;
	padding: 5px;
	z-index: 100;
	position:absolute;
	top:50px;
	left: 120px;
	

}

/* ÄRA MUUDA POSITIONIT! */
.description {
  color: #FEFFC6;
  font-size: 10px;
  font-family: "Courier New", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
  z-index:101;
}

#map {
  border: solid 5px purple;
  margin-bottom:20px;
}
#map:hover + #abc {
  opacity: 0;
}
#abi {
  color: purple;
  font-family: "Courier New";
  overflow: auto;
  height: 300px;
  max-width: 100%;
  background-color: black;
  border: solid 5px purple;

  z-index: 1;
  display:block;

}
#kaki {
  position: relative;
  top: -5px;
  z-index: 20;
}
#buttonhide {
  position:absolute;
  right:-5000px;
}
.abi {
  border: 5px solid purple;
  border-top: 0px;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  display: block;
  max-width: 100%;
}
#font {
  font-family: "Courier New";
}
#txt {
  border: 0px;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
}
#skoor {
	display:block;
	border:5px solid purple;
	padding:20px;
	display: block;
 	height: auto;
 	max-width: 100%;
        background-color:white;
	}
#level {
	display:block;
	border:5px solid purple;
	padding:5px;
	display: block;
 	height: auto;
 	max-width: 50%;
        margin-bottom: 5px;
        font-size:20px;
        font-weight:bold;
        background-color:white;
	}
#info {
        background-color:white;
	display:block;
	border:5px solid purple;
	padding:20px;
	display: block;
 	height: auto;
 	max-width: 100%;
	}
#placeholder {
	display:block;
	border:5px solid purple;
	padding:20px;
	display: block;
 	height: 300px;
 	max-width: 100%;
	overflow:auto;
	background-color:#000;
	color:white;
        border-bottom:none;
	}
.asd {
	width:250px;
	}
#placeholder span {
	color:purple;
	}
        #abc3 {
	opacity: 0;
	display: block;
	width: auto;
	height: 50px;
	background-color: purple;
	border: 3px solid black;
	border-radius: 10px;
	padding: 5px;
	padding-bottom: 45px;
	z-index: 100;
	position:absolute;
	top:100px;
	left: -50px;
}

#abc4 {
    opacity: 0;
    display: block;
    width: auto;
    height: 50px;
    background-color: purple;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
    z-index: 100;
    position:absolute;
    top:70px;
    left: 90px;

}

#abc5 {
    opacity: 0;
    display: block;
    width: auto;
    height: 50px;
    background-color: purple;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
    z-index: 100;
    position:absolute;
    top:130px;
    left: 260px;
}

.tekst2 {
	font-weight: bold;
	text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
	font-size: 12px;
	z-index: 100;
	position:absolute;
	top: 25px;
	left: 130px;
}

.tekst3 {
	font-weight: bold;
	text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
	font-size: 12px;
	z-index: 100;
	position:absolute;
	top: 100px;
	left: 20px;
}

.tekst4 {
    font-weight: bold;
    text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
    font-size: 12px;
    z-index: 100;
    position:absolute;
    top: 55px;
    left: 110px;
}

.tekst5 {
    font-weight: bold;
    text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
    font-size: 12px;
    z-index: 100;
    position:absolute;
    top: 110px;
    left: 260px;
}

.tekst2:hover + #abc2 {
  opacity: 0.6;
}
.tekst3:hover + #abc3 {
  opacity: 0.6;
}
.tekst4:hover + #abc4 {
  opacity: 0.6;
}
.tekst5:hover + #abc5 {
  opacity: 0.6;
}
input {
    display:block;
    width:100%;
    background-color:black;
    color:#FFF;
    outline-width: 0;
    border:5px purple solid;
    border-top:none;
    padding:5px;
}
.CIA {
	font-weight: bold;
	text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
	font-size: 12px;
	z-index: 100;
	position:absolute;
	top: 60px;
	left: -20px;
}
.CIA:hover + #CIA {
  opacity: 0.8;
}

#CIA {
	opacity: 0;
	display: block;
	width: auto;
	height: auto;
	background-color:purple;
	border: 3px solid black;
	border-radius: 10px;
	padding: 5px;
	z-index: 100;
	position:absolute;
	top:80px;
	left: -50px;

}
.NSA {
	font-weight: bold;
	text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
	font-size: 12px;
	z-index: 100;
	position:absolute;
	top: 60px;
	left: -20px;
}
.NSA:hover + #NSA {
  opacity: 0.8;
}

#NSA {
	opacity: 0;
	display: block;
	width: auto;
	height: auto;
	background-color:purple;
	border: 3px solid black;
	border-radius: 10px;
	padding: 5px;
	z-index: 100;
	position:absolute;
	top:80px;
	left: -50px;

}
.GRU {
	font-weight: bold;
	text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
	font-size: 12px;
	z-index: 100;
	position:absolute;
	top: 30px;
	left: 120px;
}
.GRU:hover + #GRU{
  opacity: 0.8;
}

#GRU {
	opacity: 0;
	display: block;
	width: auto;
	height: auto;
	background-color:purple;
	border: 3px solid black;
	border-radius: 10px;
	padding: 5px;
	z-index: 100;
	position:absolute;
	top:50px;
	left: 100px;

}
.SONY {
	font-weight: bold;
	text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
	font-size: 12px;
	z-index: 100;
	position:absolute;
	top: 65px;
	left: 255px;
}
.SONY:hover + #SONY {
  opacity: 0.8;
}

#SONY {
	opacity: 0;
	display: block;
	width: auto;
	height: auto;
	background-color:purple;
	border: 3px solid black;
	border-radius: 10px;
	padding: 5px;
	z-index: 100;
	position:absolute;
	top:95px;
	left: 235px;

}
.NASA {
	font-weight: bold;
	text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
	font-size: 12px;
	z-index: 100;
	position:absolute;
	top: 65px;
	left: -20px;
}
.NASA:hover + #NASA {
  opacity: 0.8;
}

#NASA {
	opacity: 0;
	display: block;
	width: auto;
	height: auto;
	background-color:purple;
	border: 3px solid black;
	border-radius: 10px;
	padding: 5px;
	z-index: 100;
	position:absolute;
	top:85px;
	left: -50px;
}